@media (max-width: 1790px) {
   .clients {
      &__inner-like {
         left: -15px;
      }
      &__inner-zigzag {
         left: 200px;
      }
      &__inner-emoji {
         right: 110px;
      }
      &__inner-vector {
         right: 40px;
      }
   }
   .app {
      &__img {
         margin-left: 0;
      }
   }
}

@media (max-width: 1495px) {
   .tracker__object-plan {
      top: -145px;
   }
   .partners {
      &__tools {
         width: 80%;
         height: 80%;
      }
      &__tools-left {
         padding-left: 20px;
      }
      &__left-1 {
         width: calc(240px - (240px * 0.2));
         height: calc(152px - (152px * 0.2));
      }
      &__left-2 {
         width: calc(358px - (358px * 0.2));
         height: calc(239px - (239px * 0.2));
      }
      &__left-3 {
         width: calc(286px - (286px * 0.2));
         height: calc(191px - (191px * 0.2));
      }
      &__right-1 {
         width: calc(315px - (315px * 0.2));
         height: calc(191px - (191px * 0.2));
      }
      &__right-2 {
         width: calc(385px - (385px * 0.2));
         height: calc(243px - (243px * 0.2));
      }
      &__content {
         padding-right: 20px;
      }
   }
   .clients {
      &__inner-chat {
         left: 970px;
         bottom: 480px;
      }
   }
   .app-content {
      &__right-hand {
         right: -350px;
      }
   }
}

@media (max-width: 1168px) {
   .tracker {
      padding-top: 72px;
      padding-bottom: 25px;
      &__inner {
         display: flex;
         flex-direction: column;
      }

      &__content {
         align-self: center;
      }
      &__row {
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
      &__left {
         margin-bottom: 50px;
      }
      &__right {
         display: none;
      }
      &__right-mobile:not(:last-child) {
         margin-right: 30px;
      }
      &__right-mobile-row {
         display: flex;
         justify-content: center;
         align-items: center;
      }
      &__object-target {
         display: none;
      }
      &__object-plan {
         left: 965px;
         left: calc(295px + (965 - 295) * ((100vw - 375px) / (1168 - 375)));
         top: -67px;
         top: calc(-29px + (-67 - (-29)) * ((100vw - 375px) / (1168 - 375)));
         // right: 200px;
      }
   }
   .filter-options {
      &__item {
         width: 400px;
      }
   }
   .partners {
      &__left-1 {
         width: calc(240px - (240px * 0.4));
         height: calc(152px - (152px * 0.4));
      }
      &__left-2 {
         width: calc(358px - (358px * 0.4));
         height: calc(239px - (239px * 0.4));
      }
      &__left-3 {
         width: calc(286px - (286px * 0.4));
         height: calc(191px - (191px * 0.4));
      }
      &__right-1 {
         width: calc(315px - (315px * 0.4));
         height: calc(191px - (191px * 0.4));
      }
      &__right-2 {
         width: calc(385px - (385px * 0.4));
         height: calc(243px - (243px * 0.4));
      }
      &__content {
         padding-right: 80px;
         padding-top: 17px;
      }
   }
   .clients {
      &__inner-like {
         left: 116px;
         top: -73px;
      }
      &__inner-chat {
         left: 850px;
         bottom: 340px;
      }
   }
   .bottom-row {
      &__content-text {
         max-width: 400px;
      }
   }
   .content-navigator {
      top: 100%;
   }
   .app-content {
      &__right-hand {
         right: -230px;
      }
   }
}

@media (max-width: 992px) {
   .header {
      &__top {
         flex-direction: column;
         justify-content: center;
         align-items: center;
         position: relative;
      }
      &__burger {
         display: block;
      }
      &__content {
         margin-bottom: 328px;
      }
   }
   .nav {
      position: absolute;
      top: -51px;

      flex-direction: column;
      margin-bottom: 50px;
      &__item:not(:last-child) {
         margin-right: 0;
         margin-bottom: 20px;
      }
   }

   .auth {
      position: absolute;
      top: 230px;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      transition: all 0.5s ease-in;
      &__login {
         margin-bottom: 30px;
      }
      &__signup {
         margin-left: 0;
      }
   }
   .logo {
      align-self: flex-start;
      z-index: 100;
      &__img {
         width: 135px;
         height: 30px;
      }
   }
   .header__top-nav,
   .header__top-auth {
      display: none;
      transition: all 0.5s ease-in;
   }
   .header__top-nav.actived,
   .header__top-auth.actived {
      display: flex;
      width: 100vw;
      background-color: #ffffff;
      padding-top: 97px;
      padding-bottom: 50px;
      z-index: 20;
      transition: all 0.5s ease-in;
   }
   .features {
      top: -80px;
      z-index: 30;
      background-color: #ffffff;
      background-image: none;
      &__rocket {
         // top: 50px;
         @include adaptive-value("top", 50, -65, 0);
         left: 20px;
         @include adaptive-value("left", 20, -50, 0);
      }
      &__cards {
         flex-direction: column;
      }
   }
   .expertises {
      margin: 0 auto;
      padding-top: 70px;
      &__row {
         margin: 0 auto;
      }
   }
   .filter-options {
      &__title {
         margin-bottom: 24px;
      }
      &__text-wrapper {
         margin-bottom: 24px;
      }
      &__text:first-child {
         margin-bottom: 0px;
      }
      &__price {
         margin-bottom: 35px;
      }
      &__item {
         width: 360px;
      }
      &__premium::before,
      &__premium::after {
         display: none;
      }
   }
   .pricing__img-hand {
      display: none;
   }
   .partners {
      padding-top: 80px;
      &__inner {
         flex-direction: column-reverse;
      }
      &__left-3 {
         display: none;
      }
      &__content {
         padding-top: 0;
         padding-left: 55px;
         padding-bottom: 50px;
      }
   }
   .clients {
      &__inner-emoji,
      &__inner-vector {
         display: none;
      }
      &__inner-chat {
         left: 720px;
         bottom: 395px;
      }
   }
   .top-row__shape {
      opacity: 0.4;
      left: 460px;
   }
   .app {
      &__inner {
         padding-top: 200px;
      }
      &__img-item {
         top: -26px;
      }
   }
   .footer {
      &__top {
         flex-wrap: wrap;
      }
      &__inner {
         margin-top: 80px;
         margin-bottom: 40px;
      }
   }
   .footer-nav {
      flex: 1 1 75%;
      // align-self: flex-end;
      justify-content: center;
      align-items: center;
   }
   .social {
      padding-top: 30px;
   }
}

@media (max-width: 876px) {
   .analytics {
      &__inner {
         flex-direction: column;
      }
      &__objects {
         margin-top: 0;
         margin-bottom: 80px;
      }
   }
   .filter-options {
      flex-direction: column;
      &__free {
         margin-right: 0;
      }
      &__item:first-child {
         margin-bottom: 28px;
      }
   }
   .clients {
      padding-top: 100px;
      padding-bottom: 80px;

      &__inner-chat {
         bottom: 85px;
         left: 530px;
      }
      &__inner-like {
         left: 370px;
         top: 70px;
      }
      &__inner-zigzag {
         left: 460px;
         top: 190px;
      }
   }

   .top-row {
      text-align: start;
      margin-left: 86px;
      &__shape {
         left: 108px;
      }
      &__text {
         display: none;
      }
   }
   .bottom-row {
      &__wrapper {
         flex-direction: column;
      }
      &__ellipse {
         border-radius: 100px;
         height: 298px;
         margin-bottom: 30px;
      }
   }
   .content-navigator {
      top: 610px;
      left: 0;
   }
   .app {
      &__inner {
         padding-top: 80px;
         margin-top: 300px;
      }
      &__content {
         flex-basis: 70%;
      }
      &__img {
         display: none;
      }
   }
   .app-content {
      &__right-hand {
         right: -30px;
      }
   }
}

@media (max-width: 767.99px) {
   .header {
      &__zigzag-top-right2,
      &__zigzag-left-top,
      &__zigzag-left-bottom {
         display: none;
      }
      &__img-right {
         bottom: 400px;
      }
   }
   .expertises {
      padding: 48px 0 0 0;
      &__row {
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
      &__item {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         box-sizing: border-box;
      }
      &__item:not(:last-child)::after {
         content: "";
         width: 180px;
         height: 1px;
         background-color: #1e0c3e;
         opacity: 0.2;
      }
      &__item:not(:first-child) {
         padding-top: 48px;
      }
      &__number {
         font-size: 48px;
         margin-bottom: 28px;
      }
      &__text {
         font-size: 18px;
         padding-bottom: 48px;
         display: block;
      }
      &__item:last-child {
         padding-bottom: 0px;
      }
   }
   .features {
      &__inner {
         padding-top: 30px;
      }
   }
   .title {
      line-height: 36px;
      margin-bottom: 10px;
   }
   .analytics__content {
      margin-left: 24px;
   }
   .tracker {
      &__item--expenses {
         margin-left: 0;
      }
      &__vector-one,
      &__vector-two,
      &__right-mobile-three {
         display: none;
      }
   }
   .pricing {
      padding-top: 80px;
      padding-bottom: 80px;
   }
   .partners {
      &__left-1,
      &__left-2,
      &__right-1,
      &__right-2 {
         width: 170px;
         height: 170px;
         border-radius: 15px;
      }
      &__title-img {
         width: 84px;
         height: 17px;
         top: 20px;
         right: 160px;
         // background: rgba(255, 115, 59, 0.4);
      }
   }
   .top-row {
      margin-left: 40px;
   }
   .clients {
      &__bottom-row {
         margin-left: 40px;
      }
   }
   .app__inner {
      padding-bottom: 80px;
   }
   .app-content {
      &__right-hand {
         top: 220px;
         right: -115px;
      }
   }
   .content-button {
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      text-align: center;
      gap: 16px;
      &__app-store {
         margin-right: 0;
      }
   }
   .footer {
      &__top {
         flex-direction: column;
         align-items: center;
         // gap: 20px;
         margin-bottom: 0;
      }
      &__top-logo {
         order: 1;
         margin-bottom: 46px;
      }
      &__top-nav {
         order: 3;
         margin-bottom: 40px;
      }
      &__top-social {
         order: 2;
         margin-bottom: 49px;
      }
   }
   .footer-nav {
      flex-direction: column;
      // align-items: flex-start;
      &__item:not(:last-child) {
         margin-right: 0;
         margin-bottom: 28px;
      }
   }
   .social {
      padding-top: 0px;
   }
   .logo {
      align-self: center;
   }
}

@media (max-width: 620px) {
   .footer {
      &__top {
         align-items: flex-start;
      }
   }
   .footer-nav {
      align-items: flex-start;
   }
   .logo {
      align-self: flex-start;
   }
   .terms {
      line-height: 24px;
      opacity: 0.5;

      flex-direction: column;
      &__documents {
         flex-direction: column;
         margin-bottom: 24px;
      }
      &__documents-tac {
         margin-bottom: 24px;
      }
   }
}

@media (max-width: 566.99px) {
   .header {
      &__content {
         margin-bottom: 240px;
      }
      &__img-left,
      &__img-right {
         display: none;
      }
      &__elements-todo {
         bottom: 260px;
         right: 0px;
      }
      &__elements-alarm {
         top: -70px;
         // left: -70px;
      }
   }
   .analytics {
      &__content {
         margin-left: 24px;
      }
   }
   .tracker {
      padding-top: 48px;
      &__right-mobile-row {
         flex-direction: column;
      }
      &__right-mobile:first-child {
         margin-bottom: 45px;
         // width: 268px;
         // height: 306px;
      }
      &__right-mobile:not(:last-child) {
         margin-right: 0;
      }
      &__right-mobile-one {
         object-fit: cover;
         box-shadow: 0px 32px 54px rgba(65, 74, 85, 0.05);
      }
      &__right-mobile-two {
         box-shadow: 0px 32px 54px rgba(65, 74, 85, 0.05);
         margin-bottom: 48px;
      }
      &__content {
         margin-bottom: 36px;
         max-width: 252px;
         align-self: flex-start;
      }
      &__content-title {
         line-height: 36px;
         margin-bottom: 0;
      }
      &__content-text {
         display: none;
      }
   }
   .partners {
      &__left-1,
      &__left-2,
      &__right-1,
      &__right-2 {
         width: 140px;
         height: 140px;
         border-radius: 15px;
      }
   }
   .top-row {
      margin-left: 0px;
      &__shape {
         left: 135px;
         top: 16px;
      }
   }
   .clients {
      padding-bottom: 0;
      &__bottom-row {
         margin-left: 0px;
      }
      &__inner-like {
         left: 190px;
         top: 30px;
      }
      &__inner-zigzag {
         left: 270px;
         top: 105px;
      }
      &__inner-chat {
         left: 350px;
         bottom: 235px;
      }
   }
   .bottom-row {
      &__ellipse {
         width: 200px;
         height: 174px;
         border-radius: 40px;
      }
   }
   .title {
      // margin-bottom: -8px;
   }
   .content-navigator {
      top: 510px;
   }
}

@media (max-width: 480px) {
   .header {
      &__content {
         text-align: left;
         // margin: 0 0 368px 0;
         align-items: flex-start;
      }
      &__content-title {
         max-width: 295px;
      }
      &__content-text {
         text-align: left;
         margin-bottom: 45px;
      }
      &__elements-todo {
         display: none;
      }
      &__elements-alarm {
         left: 250px;
         top: -30px;
      }
      &__zigzag-top-right {
         right: -40px;
      }
      &__zigzag-center {
         bottom: 250px;
         right: 30px;
      }
   }
   .features__inner {
      margin-bottom: 0;
   }
   .pricing__text {
      margin-bottom: 16px;
   }
   .bottom-row {
      &__content {
         width: 327px;
      }
      &__content-text {
         width: 327px;
      }
   }
   .switch {
      width: 55px;
      height: 26px;
   }
   .slider::before {
      width: 16px;
      height: 16px;
      left: 7px;
   }
   .filter-options {
      // flex-direction: column;
      &__item {
         width: 327px;
         height: 288px;
         border: 1px solid #ff553e;
         border-radius: 30px;
         position: relative;
         padding-top: 36px;
         padding-bottom: 36px;
      }
      &__title {
         font-size: 20px;
         line-height: 20px;
         order: 1;
         align-self: flex-start;
         margin-left: 28px;
      }
      &__text-wrapper {
         order: 3;
         align-self: flex-start;
         margin-left: 28px;
         align-items: flex-start;
         margin-bottom: 30px;
      }
      &__text {
         font-weight: 400;
         font-size: 18px;
         line-height: 20px;
         display: inline-block;
      }
      &__text:first-child {
         margin-bottom: 16px;
      }
      &__price {
         order: 2;
         position: absolute;
         top: 36px;
         right: 26px;
      }
      &__button {
         order: 4;
      }
      &__number-price {
         font-weight: 700;
         font-size: 28px;
         line-height: 28px;
      }
      &__terms {
         font-weight: 500;
         font-size: 18px;
         line-height: 28px;
         opacity: 0.4;
      }
      &__number-currency {
         font-weight: 500;
         font-size: 18px;
         line-height: 28px;
      }
   }
   input:checked + .slider:before {
      transform: translateX(25px);
   }
   .partners {
      &__left-1,
      &__left-2,
      &__right-1,
      &__right-2 {
         width: 120px;
         height: 120px;
         border-radius: 15px;
      }
      &__tools-left {
         padding-left: 24px;
      }
      &__content {
         padding-left: 24px;
      }
      &__tools {
         justify-content: start;
         gap: 16px;
      }
      &__tools-left {
         gap: 16px;
      }
      &__tools-right {
         gap: 16px;
      }
      &__text {
         margin-bottom: 28px;
      }
   }
   .clients {
      &__inner-like {
         left: 200px;
         top: 50px;
      }
      &__inner-zigzag {
         left: 250px;
         top: 125px;
      }
      &__inner-chat {
         left: 300px;
         bottom: 205px;
      }
   }
   .app {
      &__content-text {
         margin-bottom: 30px;
      }
   }
   .app-content__right-hand {
      top: 254px;
   }
}

@media (max-width: 376px) {
   .header {
      &__content-text {
         margin-bottom: 40px;
      }
      &__elements-alarm {
         left: 220px;
         top: -30px;
      }
      &__content-title {
         font-size: 28px;
      }
      &__arc {
         left: 7px;
         bottom: 5px;
      }
      &__zigzag-center {
         bottom: 290px;
         right: 20px;
      }
   }
   .partners {
      &__title-img {
         top: 18px;
         right: 80px;
         opacity: 0.4;
      }
   }
   .content-navigator {
      top: 510px;
   }
   .top-row {
      margin-left: 0px;
      &__shape {
         left: 109px;
         top: 14px;
      }
   }
   .app-content__right-hand {
      top: 268px;
   }
}
@media (max-width: 370px) {
   .bottom-row {
      &__content {
         max-width: 280px;
      }
      &__content-text {
         max-width: 280px;
      }
   }
   .app-content__right-hand {
      top: 305px;
   }
}

@media (max-width: 340px) {
   .header {
      &__content {
         max-width: 250px;
      }
      &__zigzag-top-right {
         top: 100px;
      }
      &__zigzag-center {
         bottom: 250px;
         right: -15px;
      }
   }
   .analytics {
      &__content-img {
         top: 12px;
         right: 163px;
      }
   }
}

@media (max-width: 320px) {
   .app-content__right-hand {
      top: 340px;
   }
}
