@media (max-width: 1495px) {
   .tracker__object-plan {
      top: -145px;
   }
}

@media (max-width: 1168px) {
   .analytics {
      &__inner {
         // flex-direction: column;
      }
      &__objects-img-box {
         // left: 100px;
         // right: 0;
         // top: 0;
         // bottom: 0;
         // margin: 0 auto;
      }
   }
   .tracker {
      padding-top: 72px;
      padding-bottom: 25px;
      &__inner {
         display: flex;
         flex-direction: column;
      }

      &__content {
         align-self: center;
      }
      &__row {
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
      &__left {
         margin-bottom: 50px;
      }
      &__right {
         display: none;
      }
      &__right-mobile:not(:last-child) {
         margin-right: 30px;
      }
      &__right-mobile-row {
         display: flex;
         justify-content: center;
         align-items: center;
      }
      &__object-target {
         display: none;
      }
      &__object-plan {
         left: 965px;
         left: calc(295px + (965 - 295) * ((100vw - 375px) / (1168 - 375)));
         top: -67px;
         top: calc(-29px + (-67 - (-29)) * ((100vw - 375px) / (1168 - 375)));
         // right: 200px;
      }
   }
}

@media (max-width: 992px) {
   .header {
      &__top {
         flex-direction: column;
         justify-content: center;
         align-items: center;
         position: relative;
      }
      &__burger {
         display: block;
      }
      &__content {
         margin-bottom: 328px;
      }
   }
   .nav {
      position: absolute;
      top: -51px;

      flex-direction: column;
      margin-bottom: 50px;
      &__item:not(:last-child) {
         margin-right: 0;
         margin-bottom: 20px;
      }
   }

   .auth {
      position: absolute;
      top: 230px;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      transition: all 0.5s ease-in;
      &__login {
         margin-bottom: 30px;
      }
      &__signup {
         margin-left: 0;
      }
   }
   .logo {
      align-self: flex-start;
      z-index: 100;
      &__img {
         width: 135px;
         height: 30px;
      }
   }
   .header__top-nav,
   .header__top-auth {
      display: none;
      transition: all 0.5s ease-in;
   }
   .header__top-nav.actived,
   .header__top-auth.actived {
      display: flex;
      width: 100vw;
      background-color: #ffffff;
      padding-top: 97px;
      padding-bottom: 50px;
      z-index: 20;
      transition: all 0.5s ease-in;
   }
   .features {
      top: -80px;
      z-index: 30;
      background-color: #ffffff;
      background-image: none;
      &__rocket {
         // top: 50px;
         @include adaptive-value("top", 50, -65, 0);
         left: 20px;
         @include adaptive-value("left", 20, -50, 0);
      }
      &__cards {
         flex-direction: column;
      }
   }
   .expertises {
      margin: 0 auto;
      padding-top: 70px;
      &__row {
         margin: 0 auto;
      }
   }
}

@media (max-width: 876px) {
   .analytics {
      &__inner {
         flex-direction: column;
      }
      &__objects {
         margin-top: 0;
         margin-bottom: 80px;
      }
   }
}

@media (max-width: 767.99px) {
   .header {
      &__zigzag-top-right2,
      &__zigzag-left-top,
      &__zigzag-left-bottom {
         display: none;
      }
      &__img-right {
         bottom: 400px;
      }
   }
   .expertises {
      padding: 48px 0 0 0;
      &__row {
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
      &__item {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         box-sizing: border-box;
      }
      &__item:not(:last-child)::after {
         content: "";
         width: 180px;
         height: 1px;
         background-color: #1e0c3e;
         opacity: 0.2;
      }
      &__item:not(:first-child) {
         padding-top: 48px;
      }
      &__number {
         font-size: 48px;
         margin-bottom: 28px;
      }
      &__text {
         font-size: 18px;
         padding-bottom: 48px;
         display: block;
      }
      &__item:last-child {
         padding-bottom: 0px;
      }
   }
   .features {
      &__inner {
         padding-top: 30px;
      }
   }
   .title {
      line-height: 36px;
   }
   .analytics__content {
      margin-left: 24px;
   }
   .tracker {
      &__item--expenses {
         margin-left: 0;
      }
      &__vector-one,
      &__vector-two,
      &__right-mobile-three {
         display: none;
      }
   }
}

@media (max-width: 566.99px) {
   .header {
      &__content {
         margin-bottom: 240px;
      }
      &__img-left,
      &__img-right {
         display: none;
      }
      &__elements-todo {
         bottom: 260px;
         right: 0px;
      }
      &__elements-alarm {
         top: -70px;
         // left: -70px;
      }
   }
   .analytics {
      &__content {
         margin-left: 24px;
      }
   }
   .tracker {
      padding-top: 48px;
      &__right-mobile-row {
         flex-direction: column;
      }
      &__right-mobile:first-child {
         margin-bottom: 45px;
         // width: 268px;
         // height: 306px;
      }
      &__right-mobile:not(:last-child) {
         margin-right: 0;
      }
      &__right-mobile-one {
         object-fit: cover;
         box-shadow: 0px 32px 54px rgba(65, 74, 85, 0.05);
      }
      &__right-mobile-two {
         box-shadow: 0px 32px 54px rgba(65, 74, 85, 0.05);
         margin-bottom: 48px;
      }
      &__content {
         margin-bottom: 36px;
         max-width: 252px;
         align-self: flex-start;
      }
      &__content-title {
         line-height: 36px;
         margin-bottom: 0;
      }
      &__content-text {
         display: none;
      }
   }
}

@media (max-width: 480px) {
   .header {
      &__content {
         text-align: left;
         // margin: 0 0 368px 0;
         align-items: flex-start;
      }
      &__content-title {
         max-width: 295px;
      }
      &__content-text {
         text-align: left;
         margin-bottom: 45px;
      }
      &__elements-todo {
         display: none;
      }
      &__elements-alarm {
         left: 250px;
         top: -30px;
      }
      &__zigzag-top-right {
         right: -40px;
      }
      &__zigzag-center {
         bottom: 250px;
         right: 30px;
      }
   }
   .features__inner {
      margin-bottom: 0;
   }
}

@media (max-width: 376px) {
   .header {
      &__content-text {
         margin-bottom: 40px;
      }
      &__elements-alarm {
         left: 220px;
         top: -30px;
      }
      &__content-title {
         font-size: 28px;
      }
      &__arc {
         left: 7px;
         bottom: 5px;
      }
      &__zigzag-center {
         bottom: 290px;
         right: 20px;
      }
   }
}

@media (max-width: 340px) {
   .header {
      &__content {
         max-width: 250px;
      }
      &__zigzag-top-right {
         top: 100px;
      }
      &__zigzag-center {
         bottom: 250px;
         right: -15px;
      }
   }
   .analytics {
      &__content-img {
         top: 12px;
         right: 163px;
      }
   }
}
