.analytics {
   position: relative;
   &__inner {
      display: flex;
      align-items: center;

      position: relative;
   }
   &__objects {
      flex: 1 1 50%;
      margin: 70px 19px 141px 0;
      align-self: flex-start;
      z-index: 10;
   }
   &__objects-img-box {
      // width: 865.83px;
      // height: 885.93px;

      @include adaptive-value("width", 865.83, 354.99, 0);
      @include adaptive-value("height", 885.93, 363.15, 0);

      position: relative;
      @include adaptive-value("left", 0, -36, 0);
   }
   &__objects-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   // &__objects-todo {
   //    position: absolute;
   //    right: 74px;
   //    top: 2px;
   // }
   // &__objects-charts {
   //    position: absolute;
   //    right: 35px;
   //    bottom: 150px;
   // }
   // &__objects-icons {
   //    position: absolute;
   //    bottom: -35px;
   //    right: 90px;
   // }
   // &__objects-person {
   //    position: absolute;
   //    left: 210px;
   //    top: 245px;
   // }
   &__objects-vector1 {
      position: absolute;
      top: calc(25px + (35 - 25) * ((100vw - 1168px) / (1920 - 1168)));
      // top: 35px;
      // left: 201px;
      left: calc(145px + (201 - 145) * ((100vw - 1168px) / (1920 - 1168)));
      width: calc(36.46px + (87 - 36.46) * ((100vw - 375px) / (1920 - 375)));
      height: calc(50.81px + (122 - 50.81) * ((100vw - 375px) / (1920 - 375)));
   }
   &__objects-vector2 {
      position: absolute;
      // bottom: 100px;
      @include adaptive-value("bottom", 100, 50, 0);
      // right: -45px;
      @include adaptive-value("right", -45, -13, 0);

      width: calc(
         63.62px + (146.66 - 63.62) * ((100vw - 375px) / (1920 - 375))
      );
      height: calc(
         54.65px + (131.31 - 54.65) * ((100vw - 375px) / (1920 - 375))
      );
   }

   &__objects-backside {
      width: 776px;
      height: 616px;
      background: #fff8f2;
      border-radius: 0px 20px 20px 0px;
      position: absolute;
      left: 0;
      top: 157px;
      z-index: -1;
   }

   &__content {
      flex: 1 1 50%;
      margin-left: 15px;

      margin-right: 40px;
      margin-bottom: 67px;
   }
   &__content-description {
      // margin-bottom: 48px;
      @include adaptive-value("margin-bottom", 48, 36, 0);
      max-width: 569px;
      position: relative;
   }
   &__content-title {
      font-family: $secondFontFamily;
      font-weight: 600;
      // font-size: 48px;
      // line-height: 68px;
      @include adaptive-value("line-height", 68, 36, 0);
      color: #18063c;
      // margin-bottom: 20px;
      @include adaptive-value("margin-bottom", 20, 16, 0);
   }
   &__content-text {
      opacity: 0.8;
      @include adaptive-value("font-size", 18, 16, 0);
      @include adaptive-value("line-height", 36, 28.8, 0);
   }
   &__content-img {
      position: absolute;
      // top: 40px;
      @include adaptive-value("top", 40, 12, 0);
      // right: 140px;
      @include adaptive-value("right", 140, 202, 0);
      @include adaptive-value("width", 176, 116, 0);
      @include adaptive-value("height", 35, 23, 0);

      z-index: -1;
   }
}

.content-blocks {
   display: flex;
   flex-direction: column;

   position: relative;

   &__item {
      display: flex;
      // flex-wrap: wrap;
   }
   &__item:not(:last-child) {
      // margin-bottom: 48px;
      @include adaptive-value("margin-bottom", 48, 24, 0);
   }
   &__item-img {
      min-width: 88px;
      height: 88px;
      border-radius: 20px;
      margin-right: 24px;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   // &__img {
   //    padding: 20px;
   // }
   &__item-img01 {
      background: #fa855c;
   }
   &__item-img02 {
      background: #7ad6e1;
   }
   &__item-img03 {
      background: #ffc954;
   }

   &__description {
      max-width: 365px;
   }
   &__description-title {
      font-family: $secondFontFamily;
      font-weight: 600;
      // font-size: 28px;
      @include adaptive-value("font-size", 28, 18, 0);
      @include adaptive-value("line-height", 36, 22, 0);
      margin-bottom: 8px;
   }
   &__description-text {
      @include adaptive-value("font-size", 18, 14, 0);
      @include adaptive-value("line-height", 36, 25, 0);
      opacity: 0.8;
   }
   &__description--tracker {
      max-width: 300px;
   }
}
