.filter-options {
   display: flex;
   justify-content: center;

   &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // gap: 30px;

      border: 1px solid #ff553e;
      border-radius: 110px;

      padding: 64px 0 48px;
      width: 470px;
      transition: all 0.5s ease;
   }
   &__item:first-child {
      margin-right: 30px;
   }
   &__title {
      font-weight: 600;
      font-size: 48px;
      line-height: 100%;
      color: $baseFontColor;
      margin-bottom: 56px;
   }
   &__text-wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 64px;
      justify-content: center;
      align-items: center;
   }
   &__text {
      font-weight: 600;
      font-size: 28px;
      line-height: 52px;
      color: #ff553e;
      opacity: 0.8;
   }
   &__text:first-child {
      margin-bottom: 20px;
   }
   &__price {
      display: flex;
      align-items: flex-end;
      margin-bottom: 64px;
   }
   &__number {
      margin-right: 8px;
      display: flex;
   }
   &__number-price {
      font-weight: 700;
      font-size: 64px;
      line-height: 100%;
      color: $baseFontColor;
   }
   &__number-currency {
      font-weight: 500;
      line-height: 28px;
      color: $baseFontColor;

      opacity: 0.7;
   }
   &__button {
      width: 240px;
      height: 76px;
      background: #ff553e;
      border-radius: 40px;
      font-family: $secondFontFamily;
      font-weight: 500;
      line-height: 28px;
      color: #ffffff;
   }
   &__premium {
      position: relative;
      z-index: 10;
      background: white;
   }
   &__premium::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: -100px;
      right: -100px;
      width: 223px;
      height: 296px;
      background-image: url("../img/pricing/sand-clock.png");
   }
   &__premium::before {
      content: "";
      position: absolute;
      top: 0;
      right: -135px;
      width: 136px;
      height: 217px;
      background-image: url("../img/pricing/vector.svg");
   }
}
.active * {
   background-color: #ff553e;
   color: #ffffff;
   border-radius: 110px;
   transition: all 0.5s ease;
   & .filter-options__button {
      background-color: #ffffff;
      color: #ff553e;
   }
   & .filter-options__button:hover {
      background-color: #fbe7e4;
      // background-color: #ff553e;
      // color: #ffffff;
      border: #ffffff 5px solid;
   }
}
