.footer {
   position: relative;
   z-index: 999;
   background: white;

   &__inner {
      display: flex;
      flex-direction: column;
      margin: 129px 0 60px;
      position: relative;
      z-index: 20;
   }
   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 101px;
   }
}

.social {
   max-width: 192px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   text-align: center;
   &__instagram,
   &__facebook,
   &__linkedin,
   &__twitter {
      display: flex;
      align-items: center;
   }
}

.terms {
   display: flex;
   justify-content: space-between;

   @include adaptive-value("font-size", 18, 16, 0);
   &__documents {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
   }
   &__documents-tac {
      margin-right: 48px;
   }
}

.footer-nav {
   display: flex;
   justify-content: center;
   align-items: center;
   &__item:not(:last-child) {
      margin-right: 48px;
   }
   &__item {
      font-family: $secondFontFamily;
      font-weight: 400;
      line-height: 24px;
      cursor: pointer;
   }
   &__item-link {
      line-height: 30px;
      color: #1c0e0d;
   }
   &__item-link::after {
      content: "";
      display: block;
      width: 0%;
      height: 1px;

      background-color: #1c0e0d;
      transition: width 0.2s ease-in;
   }
   &__item-link:hover::after {
      width: 100%;
   }
}
