.tracker {
   padding-top: 144px;
   padding-bottom: 156px;
   background: #f3fdfe;

   position: relative;
   // opacity: 0.6;
   &__row {
      display: flex;
      position: relative;
   }
   &__left {
      flex: 1 1 50%;
   }
   &__right {
      flex: 1 1 50%;
      position: absolute;
      top: -80px;
      right: -183px;
      // left: 153px;
   }
   &__content {
      max-width: 707px;
      width: 100%;
   }
   &__content-description {
      margin-bottom: 64px;
      position: relative;
   }
   &__content-title {
      font-family: $secondFontFamily;
      font-weight: 600;
      font-size: 48px;
      line-height: 70px;
      color: #18063c;
      margin-bottom: 20px;
   }
   &__content-text {
      opacity: 0.8;
   }
   &__content-img {
      position: absolute;
      top: 33px;
      right: 310px;
      z-index: -1;
   }
   &-blocks__item-img01 {
      width: 116px;
      height: 116px;
      background: #5bc17f;
      border-radius: 28px;
      margin-right: 48px;
   }
   &-blocks__item-img02 {
      width: 116px;
      height: 116px;
      background: #fe6292;
      border-radius: 28px;
      margin-right: 48px;
   }
   &-blocks__item-img03 {
      width: 116px;
      height: 116px;
      background: #6b72ff;
      border-radius: 28px;
      margin-right: 48px;
   }
   &__item--time{
      position: relative;
   }
   &__item--budget{
      position: relative;
   }
   &__item--expenses {
      margin-left: 176px;
   }
   &__right {
      margin-left: 153px;
      width: 682px;
      height: 618px;
   }
   &__right-img {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
   }
   &__object-target {
      position: absolute;
      top: 0;
      right: -155px;
      transform: rotate(11.52deg);
   }
   &__object-plan {
      position: absolute;
      top: 376px;
      left: -161px;
   }

   &__vector-one {
      position: absolute;
      top: 52px;
      left: 496px;
   }
   &__vector-two {
      position: absolute;
      bottom: 104px;
      left: -47px;
   }
}
