.bottom-row {
   display: flex;
   flex-direction: column;
   align-items: center;

   position: relative;
   width: 998px;
   height: 379px;
   &__wrapper {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
   }
   &__ellipse--light-pink {
      width: 298px;
      height: 379px;
      background: #fff8f2;
      border-radius: 370px;
      margin-right: 48px;
   }
   &__ellipse--light-blue {
      width: 298px;
      height: 379px;
      background: lightblue;
      border-radius: 370px;
      margin-right: 48px;
   }
   &__content {
      max-width: 652px;
      align-self: center;
   }
   &__content-text {
      max-width: 652px;
      margin-bottom: 36px;
      font-size: 20px;
      opacity: 0.8;
   }
   &__content-name {
      font-weight: 500;
      font-size: 24px;
      line-height: 24px;
      color: #38363c;
      margin-bottom: 16px;
   }
   &__content-job {
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      color: #38363c;
      opacity: 0.7;
      margin-bottom: 28px;
      display: inline-block;

      position: relative;
   }
}
