.content-navigator {
   display: flex;
   &__list {
      display: flex;
      gap: 10px;
   }
   &__item {
      width: 12px;
      height: 12px;
      background: rgba(255, 85, 62, 0.2);
      border-radius: 50%;
      cursor: pointer;
   }
   &__item--active {
      width: 36px;
      height: 12px;
      background: #ff553e;
      border-radius: 7px;
   }
}
