.app {
   background: #fff8f2;

   &__inner {
      display: flex;
      padding: 238px 0 138px;
      position: relative;
   }
   &__content {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      justify-content: start;
   }
   &__img {
      flex-basis: 50%;
      margin-left: 54px;
      position: relative;
      z-index: 1;
   }
   &__img-item {
      position: absolute;
      top: -148px;
      left: 55px;
      z-index: -1;
      @include adaptive-value("width", 406, 203, 0);
      @include adaptive-value("height", 817, 405.8, 0);
   }
   &__content-title {
      font-family: $secondFontFamily;
      font-weight: 600;
      // font-size: 48px;
      line-height: 70px;
      color: #18063c;
      margin-bottom: 24px;
   }
   &__content-text {
      // font-size: 20px;
      opacity: 0.8;
      margin-bottom: 48px;
      @include adaptive-value("line-height", 36, 30, 0);
   }
}
.app-content {
   &__left-hand {
      position: absolute;
      top: 98px;
      left: -423px;
      transform: rotate(29.46deg);
   }
   &__right-hand {
      position: absolute;
      top: 290px;
      right: -550px;
      @include adaptive-value("width", 632, 176, 0);
      @include adaptive-value("height", 218, 60, 0);
   }
}

.content-button {
   display: flex;
}
.content-button__app-store,
.content-button__google-play {
   display: flex;
   justify-content: center;
   align-items: center;
   display: inline-block;
   padding: 24px 40px 14px 40px;
   cursor: pointer;
   flex: 0 1 auto;
}
.content-button__app-store {
   background: #ff553e;
   border-radius: 40px;
   margin-right: 20px;
}
.content-button__google-play {
   border: 1px solid #ff553e;
   border-radius: 40px;
   box-sizing: border-box;
}
.google-play__logo{
   display: inline-block;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   // line-height: 18px;
   
}
